<div>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Stock Info</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
        </div>
    </nav>
    <div class="container" id="main">
        <div class="row">
            <div>
                <div class="col-md-3">
                    <form {{action "search" s on="submit"}}>
                        <div class="form-group">
                            <label for="s"></label>
                            {{input type="search" class="form-control" name="s" id="s" valueBinding="s" value=s placeholder="GOOG, SEC, STATNOR" required="required"}}
                        </div>
                        <input type="submit" value="Search" class="btn btn-default" />
                    </form>
                </div>
                <div class="col-md-9">
                    <div class="well">
                        {{outlet}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
